@import url(./common/common.css);
@import url(./logo/logo.css);
@import url(./nav/nav.css);
@import url(./option-form/option-form.css);
@import url(./performance/performance.css);















.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1182px;
  margin: 0px auto;
  margin-bottom: 96px;
}
.services__title, .team__title {
  font-size: 24px;
  line-height: 29px;
  font-family: "Kaushan Script", sans-serif;
  font-weight: 400;
  margin: 0px;
  margin-bottom: 15px;
  color: #333333;
}
.services__undertitle, .team__undertitle {
  font-size: 30px;
  line-height: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 0px;
  color: #333333;
  text-transform: uppercase;
}
.services__undertitle::after, .team__undertitle::after {
  display: block;
  content: "";
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 65px;
}
.services-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0px auto;
  padding: 0px;
}
.services-menu__item {
  display: flex;
  width: 381px;
  margin-bottom: 0px;
}
.services-menu__item:nth-child(-n + 3) {
  margin-bottom: 98px;
}
.services-menu__icon {
  fill: #95e1d3;
  padding: 0px 25px;
}
.content__name {
  color: #333333;
  font-size: 14px;
  line-height: 17px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 16px;
}
.content__info {
  margin: 0px;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}
.team__info {
  margin: 0px auto;
  margin-bottom: 118px;
  max-width: 980px;
  text-align: center;
}
.team-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
  margin: 0px auto;
}
.team-menu__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.team-menu__item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.wrapp-team {
  display: flex;
  background-color: #95e1d3;
  margin-bottom: 30px;
}
.wrapp-team:hover .team-img {
  transform: translate(-10px, -10px);
}
.wrapp-team:hover .wrap-socials {
  transform: translate(-10px, -10px);
  opacity: 100%;
}
.team-img {
  display: flex;
  transition-property: transform;
  transition-duration: 200ms;
  transition-timing-function: linear;
}
.wrap-socials {
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 470px;
  opacity: 0%;
  transition-property: transform, opacity;
  transition-duration: 200ms;
  transition-timing-function: linear;
  background: -webkit-linear-gradient(
    90deg,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
}
.wrap-socials__massengers {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border: none;
  width: 56px;
  height: 56px;
  background-color: #fce38a;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 200ms;
  transition-timing-function: linear;
}
.wrap-socials__massengers:hover {
  background-color: #f38181;
}
.wrap-socials__massengers:not(:nth-child(4n)) {
  margin-right: 1px;
}
.wrap-socials__icon {
  fill: #f38181;
}
.wrap-socials__icon:hover {
  fill: #ffffff;
  stroke: #333333;
}
.team-menu__name {
  color: #333333;
  font-size: 14px;
  line-height: 17px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 13px;
}
.team-menu__position {
  font-weight: 300;
  font-style: italic;
}
.footer {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px;
  margin: auto;
  margin-bottom: 13px;
  }
.footer-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-box__creater {
  color: #f6a1a1;
  text-decoration: none;
}
.form {
  display: flex;
  justify-content: end;
}
.form__button {
  border: none;
  width: 150px;
  height: 40px;
  padding: 0px;
  background-color: #95e1d3;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}
.form__search {
  font-weight: 300;
  font-style: italic;
  color: #e5e5e5;
  border-color: #e5e5e5;
  border-style: solid;
  border-right: none;
  outline: none;
}
.footer::before {
  display: flex;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  margin: auto;
  margin-bottom: 26px;
}
