body {
  font-size: 15px;
  line-height: 1.2;
  font-weight: normal;
  color: #999999;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  margin: 0px auto;
  position: relative;
}

.header {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 5;
}

.container {
  width: 1201px;
  margin: 0px auto;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 37px;
  margin: 0px auto;
  font-family: "Montserrat", sans-serif;
}
