.div-performance-mb {
  margin-bottom: 54px;
}

.performance {
  background-image: url(../../img/picturex1-min.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-resolution: 192px), (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 2dppx) {
  .performance {
    background-image: url(../../img/picture@2x-min.jpg);
  }
}

.performance__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  background: -webkit-gradient(
    linear,
    left bottom, left top,
    from(rgb(252, 227, 138)),
    to(rgb(243, 129, 129))
  );
  background: -o-linear-gradient(
    bottom,
    rgb(252, 227, 138) 0%,
    rgb(243, 129, 129) 100%
  );
  background: linear-gradient(
    360deg,
    rgb(252, 227, 138) 0%,
    rgb(243, 129, 129) 100%
  );
  padding-top: 210px;
  opacity: 0.9;
}

.header-text {
  font-size: 72px;
  font-family: "Kaushan Script", sans-serif;
  font-weight: 400;
}

.performance__text {
  margin-bottom: 40px;
}

.header-title {
  font-size: 150px;
  line-height: 140px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0px;
}

.performance__title {
  max-width: 980px;
  margin-bottom: 110px;
}

.performance__btn {
  margin-bottom: 230px;
}

.section-btn {
  background-color: transparent;
  width: 160px;
  height: 40px;
  font-weight: 700;
  font-size: 14px;
  border: 3px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
}