.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  margin-right: 53px;
  padding: 0px;
}

.nav-menu__item {
  list-style: none;
  text-transform: uppercase;
}

.nav-menu__item:not(:nth-child(5n)) {
  margin-right: 53px;
}

.nav-menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 200ms;
       -o-transition-duration: 200ms;
          transition-duration: 200ms;
}

.nav-menu__link::after {
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background-color: rgba(249, 129, 129, 0);
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  -o-transition-property: transform, background-color;
  transition-property: transform, background-color;
  transition-property: transform, background-color, -webkit-transform;
  -webkit-transition-duration: 200ms;
       -o-transition-duration: 200ms;
          transition-duration: 200ms;
}

.nav-menu__link:hover {
  color: rgba(252, 227, 138, 1);
}

.nav-menu__link:hover::after {
  display: block;
  background-color: rgba(252, 227, 138, 1);
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
}

.option-form__icon {
  fill: #ffffff;
}

.buy {
  margin-right: 41px;
}

.option-form__icon:hover {
  fill: rgba(252, 227, 138, 1);
}