.nav {
  display: flex;
}

.nav-menu {
  display: flex;
  margin: 0px;
  margin-right: 53px;
  padding: 0px;
}

.nav-menu__item {
  list-style: none;
  text-transform: uppercase;
}

.nav-menu__item:not(:nth-child(5n)) {
  margin-right: 53px;
}

.nav-menu__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #ffffff;
  transition-property: color;
  transition-duration: 200ms;
}

.nav-menu__link::after {
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background-color: rgba(249, 129, 129, 0);
  transition-property: transform, background-color;
  transition-duration: 200ms;
}

.nav-menu__link:hover {
  color: rgba(252, 227, 138, 1);
}

.nav-menu__link:hover::after {
  display: block;
  background-color: rgba(252, 227, 138, 1);
  transform: translateY(10px);
}

.option-form__icon {
  fill: #ffffff;
}

.buy {
  margin-right: 41px;
}

.option-form__icon:hover {
  fill: rgba(252, 227, 138, 1);
}